@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
img {
  vertical-align: bottom;
}

figure, input, a {
  all: unset;
}

body, p, h2, h3, h4, dl, dd {
  margin: 0;
}

a,
a h1,
button {
  cursor: pointer;
}

input {
  margin-left: 17px;
  height: 100%;
  width: 110px;
}
input::-moz-placeholder {
  color: #353535;
  font-weight: 500;
}
input::placeholder {
  color: #353535;
  font-weight: 500;
}

h1 {
  margin: 14px 0 5px 0;
}

.hidden {
  display: none;
}

* {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h4 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

p {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.btn-primary {
  position: relative;
  border: unset;
  border-radius: 25px;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  padding: 13px 18.75px;
  opacity: 1;
  z-index: 0;
  transition: box-shadow 250ms;
}
.btn-primary:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}
.btn-primary::after {
  position: absolute;
  border-radius: 25px;
  top: 0;
  left: 0;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  transition: opacity 250ms;
}
.btn-primary:hover::after {
  opacity: 1;
}

.b-step {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 25px;
}
@media (min-width: 769px) {
  .b-step {
    max-width: 334px;
  }
}
.b-step .b-step__content {
  flex: 1;
  position: relative;
  background-color: #F6F6F6;
  left: -12px;
  border-radius: 20px;
  padding: 28px 33px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.b-step .b-step__content:hover .fa-solid {
  color: #9356DC;
}
.b-step .b-step__content .fa-solid {
  font-size: 20px;
  color: #7E7E7E;
  margin-right: 27px;
}
.b-step .b-step__content p {
  font-size: 16px;
  font-weight: 500;
}
.b-step .b-step__number {
  z-index: 1;
  color: white;
  font-size: 14px;
  background-color: #9356DC;
  width: 24px;
  min-width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b-card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  height: 251px;
  background-color: white;
  cursor: pointer;
}
.b-card .b-card__badge {
  position: absolute;
  align-self: flex-end;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 2px;
  color: #008766;
  font-size: 14px;
  font-weight: 500;
  width: 80px;
  height: 29px;
}
.b-card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 174px;
  border-radius: 15px 15px 0 0;
}
.b-card .b-card__content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 77px;
}
.b-card .b-card__content .b-card__text {
  margin: 16px;
}
.b-card .b-card__content .b-card__text h3 {
  margin-bottom: 5px;
}
.b-card .b-card__content .b-card__text p {
  font-size: 17px;
}
.b-card .b-card__content .b-card__like {
  margin: 23px 25px;
}

.b-dish-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
  height: 42px;
  padding: 13.5px 15px;
  margin: 10.5px;
  overflow: hidden;
  animation: dish-slidein 500ms both;
}
.b-dish-card__text {
  min-width: 0;
}
.b-dish-card__text h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.b-dish-card__text p {
  font-size: 15px;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.b-dish-card__price {
  align-self: flex-end;
  margin-left: auto;
  color: #353535;
  font-size: 15px;
  font-weight: 700;
}
.b-dish-card__tick {
  margin-right: -75px;
  padding-left: 15px;
  transition: margin 250ms;
}
.b-dish-card:hover .b-dish-card__tick {
  margin-right: -15px;
}

@keyframes dish-slidein {
  from {
    transform: translateX(calc(100% + 26px));
  }
  to {
    transform: translateX(0);
  }
}
/* margin-left: calc(100% + 26px); */
.like-icon {
  background: center no-repeat url(../../assets/icons/empty-heart.svg);
  height: 21px;
  width: 22px;
  align-self: center;
  transition: background 250ms;
}
.like-icon:hover {
  background: center no-repeat url(../../assets/icons/full-heart.svg);
}

.b-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.b-header .b-header__logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  margin: 0;
  padding: 0 17px;
  z-index: 0;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.15);
}
.b-header .b-header__logo h1 {
  flex: 1;
  text-align: center;
}
@media (min-width: 769px) {
  .b-header .b-header__logo {
    min-height: 96px;
  }
}
.b-header #b-header__city-form {
  flex: 1;
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  min-height: 50px;
  max-height: 50px;
}
.b-header #b-header__city-form .header__pin {
  color: #353535;
}

.b-footer {
  color: white;
  font-weight: 500;
  background-color: #353535;
  padding: 22px 25px;
}
@media (min-width: 769px) {
  .b-footer {
    padding: 30px 25px;
  }
}
.b-footer dl {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 769px) {
  .b-footer dl {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    height: 54px;
  }
}
.b-footer dl dt {
  font-family: shrikhand;
  font-size: 18px;
  margin-bottom: 9px;
}
@media (min-width: 769px) {
  .b-footer dl dt {
    order: 1;
    margin-bottom: unset;
    width: 138px;
  }
}
.b-footer dl dd img {
  vertical-align: baseline;
}
@media (min-width: 769px) {
  .b-footer dl dd {
    width: 190px;
  }
}
.b-footer dl .b-footer__legal-info {
  font-weight: 400;
}
@media (min-width: 769px) {
  .b-footer dl .b-footer__legal-info {
    width: 130px;
  }
}
.b-footer img {
  padding-right: 11px;
}

.b-home-main {
  display: block;
}
.b-home-main .b-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
  padding: 39px 0 57px 0;
}
.b-home-main .b-hero .b-hero__title {
  font-weight: 700;
  margin-top: 0;
  padding: 0 48px;
}
.b-home-main .b-hero .b-hero__p {
  margin: 16px 0 27px 0;
  padding: 0 18px;
}
.b-home-main .b-fonctionnement__background {
  background-color: white;
  width: 100%;
}
@media (min-width: 769px) {
  .b-home-main .b-fonctionnement__background {
    display: flex;
    justify-content: center;
  }
}
.b-home-main .b-fonctionnement {
  padding: 48px 17px;
  max-width: 1080px;
  padding-right: 8px;
}
@media (min-width: 769px) {
  .b-home-main .b-fonctionnement {
    flex: 1;
  }
}
@media (min-width: 769px) {
  .b-home-main .b-fonctionnement {
    padding-right: 0;
  }
}
.b-home-main .b-fonctionnement .b-fonctionnement__steps-container {
  display: flex;
  flex-direction: column;
  margin-top: 26px;
}
@media (min-width: 769px) {
  .b-home-main .b-fonctionnement .b-fonctionnement__steps-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.b-home-main .b-restaurants__background {
  background-color: #F6F6F6;
  width: 100%;
}
@media (min-width: 769px) {
  .b-home-main .b-restaurants__background {
    display: flex;
    justify-content: center;
  }
}
.b-home-main .b-restaurants {
  padding: 48px 17px;
  max-width: 1080px;
}
@media (min-width: 769px) {
  .b-home-main .b-restaurants {
    flex: 1;
  }
}
.b-home-main .b-restaurants .b-restaurants__cards-container {
  display: flex;
  flex-direction: column;
  margin-top: 26px;
}
@media (min-width: 769px) {
  .b-home-main .b-restaurants .b-restaurants__cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    justify-content: space-between;
  }
}
.b-home-main .b-restaurants .b-restaurants__cards-container a {
  margin-bottom: 18px;
}
@media (min-width: 769px) {
  .b-home-main .b-restaurants .b-restaurants__cards-container a {
    margin-bottom: unset;
    max-width: 490px;
  }
}

.loading-page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #F6F6F6;
  animation: disapear 300ms 3250ms both;
}
.loading-page .progress-bar {
  height: 30px;
  width: 50vw;
  border: solid #353535 3px;
  border-radius: 5px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.loading-page .progress-bar .bar {
  background-color: #9356DC;
  height: 100%;
  transform-origin: 0% 50%;
  animation: progression 2500ms 500ms both;
}

@keyframes progression {
  0% {
    transform: scaleX(0);
    opacity: 0.1;
  }
  17% {
    transform: scaleX(0.18);
  }
  24% {
    transform: scaleX(0.4);
  }
  46% {
    transform: scaleX(0.81);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes disapear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
.main-container {
  display: flex;
  flex-direction: column;
}

.b-restaurant-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.b-restaurant-main__hero {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}
.b-restaurant-main .b-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: calc(100% - 26px);
  max-width: 1055px;
  position: relative;
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  margin-top: -40px;
  padding: 32px 13px 40px 13px;
  overflow: hidden;
}
.b-restaurant-main .b-menu-container__restaurant-name-section {
  display: flex;
  justify-content: space-between;
  margin: 0 28px 0 4px;
  width: 100%;
  max-width: 307px;
}
.b-restaurant-main .b-menu-container__restaurant-name-section h2 {
  font-family: "Shrikhand", serif;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: -7px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.b-restaurant-main .b-menu-container__like {
  min-width: 22px;
}
.b-restaurant-main .b-menu-container .b-dish-section {
  width: 100%;
  max-width: 634px;
  overflow: hidden;
}
.b-restaurant-main .b-menu-container .b-dish-section__title-text {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
}
.b-restaurant-main .b-menu-container .b-dish-section__title-underline {
  display: block;
  width: 40px;
  height: 5px;
  border-bottom: solid #99E2D0 3px;
}
.b-restaurant-main .b-menu-container .btn-primary {
  width: 100%;
  max-width: 186px;
}/*# sourceMappingURL=main.css.map */