.like-icon{
  background: center no-repeat url(../assets/icons/empty-heart.svg);
  height: 21px;
  width: 22px;
  align-self: center;
  transition: background 250ms;
  &:hover {
      background: center no-repeat url(../assets/icons/full-heart.svg);
    }
}
