@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
* {
  font-family: 'Roboto', sans-serif;
}

h1{
  font-family: 'Shrikhand', serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h4 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
p {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
