@import "../utils/variables";

input {
  margin-left: 17px;
  height: 100%;
  width:110px;
  &::placeholder{
    color:$dark-grey;
    font-weight: 500;
  }
}

h1{
  margin: 14px 0 5px 0;
}

.hidden{
  display: none;
}
