// Prevent the gap at bottom of the anchor element
// when it encapsulate image element.
img {
  vertical-align: bottom;
}

figure,input,a{
  all: unset;
}

body,p,h2,h3,dl,dd{
  margin: 0;
}

a,
a h1,
button {
    cursor: pointer;
}
