@import "../utils/mixins";
@import "../utils/variables";

.b-home-main{
  display: block;

  .b-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $light-grey;
    padding: 39px 0 57px 0;

    .b-hero__title{
      font-weight: 700;
      margin-top: 0;
      padding: 0 48px;
    }

    .b-hero__p{
      margin: 16px 0 27px 0;
      padding: 0 18px;
    }
  }

  .b-fonctionnement {
    @include home-section;
    padding-right: 8px;

    .b-fonctionnement__steps-container {
        display: flex;
        flex-direction: column;
        margin-top: 26px;
              }
  }
  .b-restaurants {
    @include home-section;
    background-color: $light-grey;

    .b-restaurants__cards-container {
      display: flex;
      flex-direction: column;
        margin-top: 26px;
      }
  }
}
