@import "../utils/mixins";
@import "../utils/variables";

.b-home-main{
  display: block;

  .b-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $white-smoke;
    padding: 39px 0 57px 0;

    .b-hero__title{
      font-weight: 700;
      margin-top: 0;
      padding: 0 48px;
    }

    .b-hero__p{
      margin: 16px 0 27px 0;
      padding: 0 18px;
    }
  }

  .b-fonctionnement__background {
    @include background-main;
  }

  .b-fonctionnement {
    @include home-section;
    padding-right: 8px;
    @media (min-width: $breakpoint-min-desktop) {
      padding-right: 0;
    }

    .b-fonctionnement__steps-container {
      display: flex;
      flex-direction: column;
      margin-top: 26px;
      @media (min-width: $breakpoint-min-desktop){
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  .b-restaurants__background{
    @include background-main($white-smoke);
  }

  .b-restaurants {
    @include home-section;

    .b-restaurants__cards-container {
      display: flex;
      flex-direction: column;
      margin-top: 26px;
      @media (min-width: $breakpoint-min-desktop) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 50px;
        grid-column-gap: 50px;
        justify-content: space-between;
      }
      a {
        margin-bottom: 18px;
        @media (min-width: $breakpoint-min-desktop) {
          margin-bottom: unset;
          max-width: 490px;
        }
      }
    }
  }
}
