@import "../utils/variables";

.main-container{
  display: flex;
  flex-direction: column;
}
.b-restaurant-main {
  &__hero{
    width: 100%;
    height: 275px;
    object-fit: cover;
  }
  .b-menu-container{
    position: relative;
    background-color: $white-smoke;
    border-radius: 40px 40px 0 0;
    margin-top: -40px;
    padding: 32px 13px 40px 13px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    &__restaurant-name-section{
      display: flex;
      justify-content: space-between;
      margin: 0 28px 0 4px;
      h2{
        font-family: 'Shrikhand', serif;
        font-size: 28px;
        font-weight: 400;
        margin-bottom: -7px;
      }
    }
    .b-dish-section{
      &__title-text{
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        text-transform: uppercase;
      }
      &__title-underline {
        display: block;
        width: 40px;
        height: 5px;
        border-bottom: solid $light-green 3px;
      }
    }
  }
}
